@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <label>nhap PersonID</label>
    <input type="text" name="PersonTD">
    <label>nhap ho ten :</label>
    <input type="text" name="Fullname">
    <label>nhap dia chi :</label>
    <input type="text" name="Address">
    <input type="submit" value="Gui du lieu">
</form>

<h1>@ViewBag.Message</h1>