<form asp-action="Index" method="post">
    <input type="text" name="StudentId">
    <input type="text" name="FullName">
    <input type="submit" value="Gửi dữ liệu"
</form>
<h2>@ViewBag.thongbao</h2>