@model Duyen158.Models.Person

<h2>Tạo mới Person</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="ID">Căn cước công dân</label>
        <input type="number" class="form-control" name="CanCuocCongDan" required />
    </div>
    <div class="form-group">
        <label for="Name">Họ tên</label>
        <input type="text" class="form-control" name="HoTen" required />
    </div>
    <div class="form-group">
        <label for="Hometown">Quê quán</label>
        <input type="text" class="form-control" name="QueQuan" required />
    </div>
    <button type="submit" class="btn btn-primary">Tạo mới</button>
</form>
