@model Duyen158.Models.Person

<h2>Xóa Person</h2>

<p>Bạn có chắc chắn muốn xóa Person có tên: @Model.Name?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.ID" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a href="/Person/Index" class="btn btn-secondary">Hủy</a>
</form>
