@model IEnumerable<Duyen158.Models.Person>

<h2>Danh sách Person</h2>
<a href="/Person/Create">Tạo mới Person</a>

<table class="table">
    <thead>
        <tr>
            <th>Căn Cước Công Dân</th>
            <th>Họ tên</th>
            <th>Quê quán</th>
            
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.ID</td>
                <td>@person.Name</td>
                <td>@person.Hometown</td>
                <td>    
                    <a href="/Person/Details/@person.ID">Chi tiết</a> |
                    <a href="/Person/Edit/@person.ID">Sửa</a> |
                    <a href="/Person/Delete/@person.ID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
